/* line 18, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-top-wrapper {
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
}

/* line 24, ../sass/uw_ct_embedded_call_to_action.scss */
div.call-to-action-center-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 30, ../sass/uw_ct_embedded_call_to_action.scss */
div.call-to-action-wrapper {
  width: 450px;
  height: 100px;
  display: table;
  float: left;
}

/* line 37, ../sass/uw_ct_embedded_call_to_action.scss */
div.call-to-action-wrapper.cta-more-then-one {
  width: 100%;
  height: 100px;
  display: table;
}

@media screen and (min-width: 480px) {
  /* line 44, ../sass/uw_ct_embedded_call_to_action.scss */
  div.call-to-action-wrapper.cta-more-then-one {
    width: 50%;
    height: 100px;
    display: table;
  }

  /* line 50, ../sass/uw_ct_embedded_call_to_action.scss */
  div.call-to-action-wrapper.cta-sidebar {
    width: 100%;
    height: 100px;
    display: table;
  }

  /* line 56, ../sass/uw_ct_embedded_call_to_action.scss */
  .wide div.call-to-action-wrapper.cta-more-then-one {
    width: 33%;
    height: 100px;
    display: table;
  }
}
/* uWaterloo theme */
/* line 64, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-uWaterloo {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #fcd450;
  margin: 1px;
  border: 1px solid white;
}
/* line 72, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-uWaterloo .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 80, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-uWaterloo .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 90, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-uWaterloo:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #fcd450;
}
/* line 95, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-uWaterloo:hover .call-to-action-small-text {
  color: #757575;
}

/* Neutral theme */
/* line 101, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-neutral {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #eeeeee;
  margin: 1px;
  border: 1px solid white;
}
/* line 109, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-neutral .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 117, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-neutral .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 127, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-neutral:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #eeeeee;
}
/* line 132, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-neutral:hover .call-to-action-small-text {
  color: #757575;
}

/* ahs theme */
/* line 138, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-ahs {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #009aa6;
  margin: 1px;
  border: 1px solid white;
}
/* line 146, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-ahs .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 154, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-ahs .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 164, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-ahs:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #009aa6;
}
/* line 169, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-ahs:hover .call-to-action-small-text {
  color: #757575;
}

/* arts theme */
/* line 175, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-arts {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #e98300;
  margin: 1px;
  border: 1px solid white;
}
/* line 183, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-arts .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 191, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-arts .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 201, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-arts:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #e98300;
}
/* line 206, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-arts:hover .call-to-action-small-text {
  color: #757575;
}

/* engineering theme */
/* line 212, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-engineering {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #ccaaff;
  margin: 1px;
  border: 1px solid white;
}
/* line 220, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-engineering .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 228, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-engineering .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 238, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-engineering:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #ccaaff;
}
/* line 243, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-engineering:hover .call-to-action-small-text {
  color: #757575;
}

/* environment theme */
/* line 249, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-environment {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #b6bf00;
  margin: 1px;
  border: 1px solid white;
}
/* line 257, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-environment .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 265, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-environment .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 275, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-environment:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #b6bf00;
}
/* line 280, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-environment:hover .call-to-action-small-text {
  color: #757575;
}

/* math theme */
/* line 286, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-math {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #ff88dd;
  margin: 1px;
  border: 1px solid white;
}
/* line 294, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-math .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 302, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-math .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 312, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-math:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #ff88dd;
}
/* line 317, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-math:hover .call-to-action-small-text {
  color: #757575;
}

/* science theme */
/* line 323, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-science {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #77bbff;
  margin: 1px;
  border: 1px solid white;
}
/* line 331, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-science .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 339, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-science .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 349, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-science:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #77bbff;
}
/* line 354, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-science:hover .call-to-action-small-text {
  color: #757575;
}

/* conrad theme */
/* line 360, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-conrad {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #e8878c;
  margin: 1px;
  border: 1px solid white;
}
/* line 368, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-conrad .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 376, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-conrad .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 386, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-conrad:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #e8878c;
}
/* line 391, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-conrad:hover .call-to-action-small-text {
  color: #757575;
}

/* renison theme */
/* line 397, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-renison {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #7fb49d;
  margin: 1px;
  border: 1px solid white;
}
/* line 405, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-renison .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 413, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-renison .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 423, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-renison:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #7fb49d;
}
/* line 428, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-renison:hover .call-to-action-small-text {
  color: #757575;
}

/* schools theme */
/* line 434, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-schools {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #f77777;
  margin: 1px;
  border: 1px solid white;
}
/* line 442, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-schools .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 450, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-schools .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 460, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-schools:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #f77777;
}
/* line 465, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-schools:hover .call-to-action-small-text {
  color: #757575;
}

/* st-jeromes theme */
/* line 471, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-st-jeromes {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #7fb49d;
  margin: 1px;
  border: 1px solid white;
}
/* line 479, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-st-jeromes .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 487, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-st-jeromes .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 497, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-st-jeromes:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #92b7ac;
}
/* line 502, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-st-jeromes:hover .call-to-action-small-text {
  color: #757575;
}

/* st-pauls theme */
/* line 508, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-st-pauls {
  display: table-cell;
  vertical-align: middle;
  background-color: #252525;
  color: #c2cd79;
  margin: 1px;
  border: 1px solid white;
}
/* line 516, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-st-pauls .call-to-action-small-text {
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 11px;
  padding: 0px 5px 4px 5px;
}
/* line 524, ../sass/uw_ct_embedded_call_to_action.scss */
.call-to-action-theme-st-pauls .call-to-action-big-text {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
  padding: 0px 5px 4px 5px;
}

/* line 534, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-st-pauls:hover {
  background-color: white;
  color: #252525;
  border: 1px solid #c2cd79;
}
/* line 539, ../sass/uw_ct_embedded_call_to_action.scss */
a .call-to-action-theme-st-pauls:hover .call-to-action-small-text {
  color: #757575;
}
