$black: #252525;
$white: #ffffff;
$grey: #757575;
$uwaterloo: #FCD450;
$ahs: #009AA6;
$arts: #E98300;
$engineering: #CCAAFF;
$environment: #B6BF00;
$math: #FF88DD;
$science: #77BBFF;
$conrad: #E8878C;
$renison: #7FB49D;
$st-jeromes: #92B7AC;
$st-pauls: #C2CD79;
$schools: #F77777;
$neutral: #EEEEEE;

.call-to-action-top-wrapper {
  width: 100%;
  height: 100%;
  clear:both;
  float: left;
}
div.call-to-action-center-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.call-to-action-wrapper {
  width: 450px;
  height: 100px;
  display: table;
  float: left;
}

div.call-to-action-wrapper.cta-more-then-one {
  width: 100%;
  height: 100px;
  display: table;
}

@media screen and (min-width: 480px) {
  div.call-to-action-wrapper.cta-more-then-one {
    width: 50%;
    height: 100px;
    display: table;
  }

  div.call-to-action-wrapper.cta-sidebar {
    width: 100%;
    height: 100px;
    display: table;
  }

  .wide div.call-to-action-wrapper.cta-more-then-one {
    width: 33%;
    height: 100px;
    display: table;
  }
}

/* uWaterloo theme */
.call-to-action-theme-uWaterloo {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $uwaterloo;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-uWaterloo:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $uwaterloo;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* Neutral theme */
.call-to-action-theme-neutral {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $neutral;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-neutral:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $neutral;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* ahs theme */
.call-to-action-theme-ahs {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $ahs;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-ahs:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $ahs;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* arts theme */
.call-to-action-theme-arts {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $arts;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-arts:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $arts;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* engineering theme */
.call-to-action-theme-engineering {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $engineering;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-engineering:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $engineering;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* environment theme */
.call-to-action-theme-environment {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $environment;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-environment:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $environment;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* math theme */
.call-to-action-theme-math {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $math;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-math:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $math;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* science theme */
.call-to-action-theme-science {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $science;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-science:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $science;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* conrad theme */
.call-to-action-theme-conrad {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $conrad;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-conrad:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $conrad;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* renison theme */
.call-to-action-theme-renison {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $renison;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-renison:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $renison;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* schools theme */
.call-to-action-theme-schools {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $schools;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-schools:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $schools;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* st-jeromes theme */
.call-to-action-theme-st-jeromes {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $renison;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-st-jeromes:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $st-jeromes;

  .call-to-action-small-text {
    color: $grey;
  }
}

/* st-pauls theme */
.call-to-action-theme-st-pauls {
  display: table-cell;
  vertical-align: middle;
  background-color: $black;
  color: $st-pauls;
  margin: 1px;
  border: 1px solid $white;

  .call-to-action-small-text {
    text-align: center;
    font-family: Arial;
    color: $white;
    font-size: 11px;
    padding: 0px 5px 4px 5px;
  }

  .call-to-action-big-text {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    padding: 0px 5px 4px 5px;
  }
}

a .call-to-action-theme-st-pauls:hover {
  background-color: $white;
  color: $black;
  border: 1px solid $st-pauls;

  .call-to-action-small-text {
    color: $grey;
  }
}
